.container {
    padding: 20px;
    cursor: pointer;
    background-color: #53c28b;
    border: none;
    border-radius: 5px;
    width: max-content; /* to make the with equal to the width of the content */
    /*  */
    color: white;
  }